body {
  /*background: url(./img/bike.gif) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: skyblue;
  text-align: center;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Fredoka One';
  font-size: 3em;
  text-align: center;
  color: white;
  margin-top: 50px;
  line-height: 1.1;
}

h3 {
  font-family: 'Fredoka One';
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#icon {
  font-size: 3em;
  margin: 25px auto;
}

.underline {
  text-decoration: underline;
}

#main {
  padding-top: 20px;
}

#date {
  margin-top: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
}

button {
  margin: 20px;
}

p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}



.wrap {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  width: 70%;
  margin: 50px auto;
  opacity: 0.7;

}

#morning {
  flex:1;
  border-right: dotted white 3px;
  padding: 15px 20px;
  p {
    margin: 30px auto;
  }
}

#evening {
  flex:1;
  padding: 15px 20px;
  p {
    margin: 30px auto;
  }
}
